@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    background-color: rgb(209, 209, 209);
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.key-code {
    display: flex;
}

.key-code h1 {
    margin: 10px;
}